/* Side Bar */
.side-bar {
    transition: 0.5s ease all;
    left: -100%;
}

.side-bar.on {
    left: 0;
    transition: 0.5s ease all;
}

.side-nav-link:hover {
    background-color: white;
    color : black!important;
    transition: 0.5s ease all;
}